.timer {
  color: var(--timer-color);
  width: 256px;
  padding: 15px 51px;
  text-align: center;
  background-color: var(--timer-bg-color);
  margin: 0 auto 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
}
