html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--body-bg-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--btn-bg-color);
  font-size: 0.7rem;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page {
  padding: 1rem;
}
