:root {
  --body-bg-color: #96938e;
  --btn-bg-color: lightgoldenrodyellow;
  --cars-options-btn-border-color: darkslategrey;
  --start-btn-border-color: green;
  --stop-btn-border-color: red;
  --car-name-color: #ffffff;
  --road-bg-color: #606060;
  --road-lines-color: #ffffff;
  --road-finish-color: #333131;
  --table-heading-bg-color: #65645f;
  --table-color: beige;
  --popup-overlay-bg-color: rgba(250, 248, 255, 0.33);
  --popup-bg-color: #ffffff;
}
