.main-nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.4px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 16px 12px;

    &:hover {
      background-color: var(--nav-link-bg-color-h);
    }

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
    }

    &--about::before {
      background-image: url('../../assets/icons/about.svg');
    }

    &--score::before {
      background-image: url('../../assets/icons/score.svg');
    }

    &--settings::before {
      background-image: url('../../assets/icons/settings.svg');
    }
  }
}
