.main-nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
    line-height: 0.75rem;
    letter-spacing: 0.02rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0.8rem 0.6rem;

    &:hover {
      background-color: var(--nav-link-bg-color-h);
    }

    &::before {
      content: '';
      width: 1rem;
      height: 1rem;
      margin-bottom: 0.5rem;
    }

    &--about::before {
      background-image: url('../../assets/icons/about.svg');
    }

    &--score::before {
      background-image: url('../../assets/icons/score.svg');
    }

    &--settings::before {
      background-image: url('../../assets/icons/settings.svg');
    }
  }
}
