html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 89.3rem;
  padding: 0 10.8rem;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  width: 100%;
  padding-top: 2.7rem;

  &--category {
    padding-top: 0;
  }
}


@media (max-width: 1200px) {
  .container {
    padding: 0 5.4rem;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 0.3rem;
    margin: 0;
  }
}
