:root {
  --main-nav-toggle-bg-color: #c8c8c8;
  --main-nav-toggle-bg-color-open: #5c5c5c;
  --switch-bg-color: #4fbe79;
  --switch-bg-color-checked: #d3d3d3;
  --switch-slider-bg-color: #ffffff;
  --switch-text-color: #ffffff;
  --category-card-title-color: #000000;
  --start-btn-bg-color: #00bf9a;
  --start-btn-color: #ffffff;
}
