:root {
  --main-nav-toggle-bg-color: #c8c8c8;
  --main-nav-toggle-bg-color-open: #5c5c5c;
  --switch-bg-color: #4fbe79;
  --switch-bg-color-checked: #d3d3d3;
  --switch-slider-bg-color: #ffffff;
  --switch-text-color: #ffffff;
  --category-card-title-color: #000000;
  --start-btn-bg-color: #00bf9a;
  --start-btn-color: #ffffff;
  --statistics-table-th-bg-color: #0099ae;
  --statistics-table-th-color: #ffffff;
  --statistics-table-tr-bg-color: #f6f6f6;
  --statistics-table-tr-even-bg-color: #e6e6e6;
  --statistics-btn-color: #383838;
  --statistics-btn-reset-bg-color: #dc3545;
  --statistics-btn-repeat-bg-color: #ffc107;
  --admin-header-bg-color: #00bf82;
  --admin-nav-item-bg-color-hover: #00b178;
  --admin-nav-link-color: #ffffff;
  --admin-logout-btn-color: #ffffff;
  --admin-logout-btn-bg-color: transparent;
  --admin-logout-btn-bg-color-hover: #00b178;
  --admin-category-card-label-color: #3f51b5;
  --admin-category-card-border-color: rgba(0, 0, 0, 0.4);
  --admin-btn-color: #00bf82;
  --admin-delete-btn-bg-color: #666666;
  --admin-cancel-btn-bg-color: #e53935;
  --admin-add-category-button-color: #666666;
  --admin-add-category-button-bg-color: transparent;
  --popup-overlay-bg-color: rgba(0, 0, 0, 0.25);
}
