.garage {
  &__controls {
    margin-bottom: 1.5rem;
    width: 18.55rem;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__name-input {
    outline: 0;
    height: 1.25rem;
  }

  &__color-input {
    height: 1.25rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    &--generate {
      flex-grow: 1;
    }
  }

  &__page-controls {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__page-count {
    font-size: 1.2rem;
  }
}
