html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.page {
  width: 1000px;
  height: 500px;
  background-color: var(--page-bg-color);
  margin: 0 auto 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--page-color);
}
