html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
}

.page {
  width: 50rem;
  height: 25rem;
  background-color: var(--page-bg-color);
  margin: 0 auto 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--page-color);
}

.btn {
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 0.8rem;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.1rem rgba(0, 0, 0, 0.24);
  border: 0;
  cursor: pointer;

  &--main {
    background-color: var(--main-btn-bg-color);
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.2), 0 0.05rem 0.9rem rgba(0, 0, 0, 0.12), 0 0.3rem 0.5rem rgba(0, 0, 0, 0.14);
    color: var(--main-btn-color);
  }

  &--cancel {
    background-color: var(--btn-cancel-bg-color);
    color: var(--btn-cancel-color);
  }

  &:hover {
    opacity: 0.8;
  }
}
