:root {
  --main-btn-bg-color: #f2f9fe;
  --main-btn-color: #2196f3;
  --card-front-bg-color: #c1c1c1;
  --card-back-bg-color: #a4876f;
  --card-error-bg-color: rgba(242, 78, 30, 0.5);
  --card-success-bg-color: rgba(10, 207, 131, 0.5);
  --header-bg-color: #2196f3;
  --nav-link-color: #ffffff;
  --nav-link-bg-color-active: #1e88e5;
  --nav-link-bg-color-hover: #3e9df1;
  --timer-bg-color: #ffffff;
  --timer-color: rgba(0, 0, 0, 0.4);
  --page-bg-color: rgba(0, 0, 0, 0.05);
  --page-color: #2196f3;
  --title-color: rgba(0, 0, 0, 0.87);
  --about-desc-bg-color: #ffffff;
  --about-desc-before-bg-color: #2196F3;
  --about-desc-before-color: #ffffff;
  --about-text-color: rgba(0, 0, 0, 0.6);
  --btn-bg-color: #2196F3;
  --btn-color: #ffffff;
  --btn-cancel-bg-color: #e3f2fd;
  --btn-cancel-color: #2196F3;
  --popup-overlay-bg-color: rgba(0, 0, 0, 0.25);
  --popup-bg-color: #ffffff;
  --popup-form-bg-color: #fafafa;
  --popup-title-color: rgba(0, 0, 0, 0.87);
  --popup-label-color: rgba(0, 0, 0, 0.38);
  --popup-input-bg-color: rgba(33, 33, 33, 0.08);
  --popup-input-color: rgba(0, 0, 0, 0.87);
  --popup-input-border-color: rgba(0, 0, 0, 0.6);
  --popup-input-valid-bg-color: rgba(1, 135, 134, 0.08);
  --popup-input-invalid-bg-color: rgba(255, 0, 0, 0.08);
  --settings-label-color: rgba(0, 0, 0, 0.87);
  --settings-option-disabled-color: rgba(0, 0, 0, 0.6);
  --score-table-cell-color: #333333;
  --score-count-color: #2196F3;
  --score-label-color: rgba(0, 0, 0, 0.87);
}
