.statistics {
  &__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 0.8rem;

    th {
      background-color: var(--statistics-table-th-bg-color);
      font-weight: 700;
      color: var(--statistics-table-th-color);
      padding: 0.3rem 1rem;
      cursor: pointer;
      user-select: none;
      position: relative;

      &:hover {
        opacity: 0.8;
      }
    }

    tr {
      background-color: var(--statistics-table-tr-bg-color);
    }

    tr:nth-child(2n) {
      background-color: var(--statistics-table-tr-even-bg-color);
    }

    td {
      padding: 0.3rem 1rem;
    }

    th.sorted,
    th.sorted-reverse {
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        top: 50%;
        right: 0.25rem;
        transform: translateY(-50%);
      }
    }


    th.sorted {
      &::after {
        border-width: 0 0.25rem 0.5rem 0.25rem;
        border-color: transparent transparent var(--statistics-table-th-color) transparent;
      }
    }

    th.sorted-reverse {
      &::after {
        border-width: 0.5rem 0.25rem 0 0.25rem;
        border-color: var(--statistics-table-th-color) transparent transparent transparent;
      }
    }
  }

  &__table-container {
    overflow-x: auto;
  }
}
