.header {
  background-color: var(--header-bg-color);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.24);
  margin-bottom: 1.65rem;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
  }

  &__btn {
    margin-right: 1.5rem;
  }

  &__logo {
    margin-right: 7.6rem;
    width: 4rem;
    height: 2.1rem;
  }

  &__nav {
    flex-grow: 1;
  }

  &__avatar {
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
  }
}
